In [77]:
import numpy as np
import pandas as pd

import unidecode 
import pandas as pd 
import re 
import time 
import nltk 
from nltk.corpus import stopwords
nltk.download('stopwords') 
from nltk.tokenize import word_tokenize 
from nltk.stem import WordNetLemmatizer 
from autocorrect import Speller 
from bs4 import BeautifulSoup 
from nltk.corpus import stopwords 
from nltk import word_tokenize
import string
import json

[nltk_data] Downloading package stopwords to /Users/kian/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [56]:
df = pd.read_csv("sentiment140.csv", header=None, encoding="latin-1")

In [57]:
df.shape

(1600000, 6)

In [58]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [59]:
df[0]

0          0
1          0
2          0
3          0
4          0
          ..
1599995    4
1599996    4
1599997    4
1599998    4
1599999    4
Name: 0, Length: 1600000, dtype: int64

In [60]:
df.columns = ['class', 'tweet_id', 'datetime', 'query', 'id', 'tweet']

In [61]:
df

,class,tweet_id,datetime,query,id,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
...,...,...,...,...,...,...
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [62]:
len(df.id.unique())

659775

In [63]:
for t in df.tweet.head(50):
    print(t)

@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!
@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds
my whole body feels itchy and like its on fire
@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there.
@Kwesidei not the whole crew
Need a hug
@LOLTrish hey  long time no see! Yes.. Rains a bit ,only a bit  LOL , I'm fine thanks , how's you ?
@Tatiana_K nope they didn't have it
@twittera que me muera ?
spring break in plain city... it's snowing
I just re-pierced my ears
@caregiving I couldn't bear to watch it.  And I thought the UA loss was embarrassing . . . . .
@octolinz16 It it counts, idk why I did either. you never talk to me anymore
@smarrison i would've been the first, but i didn't have a gun.    not really though, zac snyder's just a doucheclown.
@iamjazzyfizzle I wish I got to watch it with you!! I miss you and @iamlilnicki  how was the premiere?!
Hollis' death scene will hurt me severely to watch on film  wry is directors cut not out now?
about to file taxes
@LettyA ahh ive always wanted to see rent  love the soundtrack!!
@FakerPattyPattz Oh dear. Were you drinking out of the forgotten table drinks?
@alydesigns i was out most of the day so didn't get much done
one of my friend called me, and asked to meet with her at Mid Valley today...but i've no time *sigh*
@angry_barista I baked you a cake but I ated it
this week is not going as i had hoped
blagh class at 8 tomorrow
I hate when I have to call and wake people up
Just going to cry myself to sleep after watching Marley and Me.
im sad now  Miss.Lilly
ooooh.... LOL  that leslie.... and ok I won't do it again so leslie won't  get mad again
Meh... Almost Lover is the exception... this track gets me depressed every time.
some1 hacked my account on aim  now i have to make a new one
@alielayus I want to go to promote GEAR AND GROOVE but unfornately no ride there  I may b going to the one in Anaheim in May though
thought sleeping in was an option tomorrow but realizing that it now is not. evaluations in the morning and work in the afternoon!
@julieebaby awe i love you too!!!! 1 am here  i miss you
@HumpNinja I cry my asian eyes to sleep at night
ok I'm sick and spent an hour sitting in the shower cause I was too sick to stand and held back the puke like a champ. BED now
@cocomix04 ill tell ya the story later  not a good day and ill be workin for like three more hours...
@MissXu sorry! bed time came here (GMT+1)   http://is.gd/fNge
@fleurylis I don't either. Its depressing. I don't think I even want to know about the kids in suitcases.
Bed. Class 8-12. Work 12-3. Gym 3-5 or 6. Then class 6-10. Another day that's gonna fly by. I miss my girlfriend
really don't feel like getting up today... but got to study to for tomorrows practical exam...
He's the reason for the teardrops on my guitar the only one who has enough of me to break my heart
Sad, sad, sad. I don't know why but I hate this feeling  I wanna sleep and I still can't!
@JonathanRKnight Awww I soo wish I was there to see you finally comfortable! Im sad that I missed it
Falling asleep. Just heard about that Tracy girl's body being found. How sad  My heart breaks for that family.
@Viennah Yay! I'm happy for you with your job! But that also means less time for me and you...
Just checked my user timeline on my blackberry, it looks like the twanking is still happening  Are ppl still having probs w/ BGs and UIDs?
Oh man...was ironing @jeancjumbe's fave top to wear to a meeting. Burnt it
is strangely sad about LiLo and SamRo breaking up.
@tea oh! i'm so sorry  i didn't think about that before retweeting.

In [64]:
tweets_list = list(df.tweet)
tweet_len = list(map(len, tweets_list))
df["tweet_len"] = tweet_len

In [65]:
df.head()

,class,tweet_id,datetime,query,id,tweet,tweet_len
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",115
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,111
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,89
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,47
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",111

In [66]:
df = df[df['tweet'].apply(lambda x : x.isascii())]

In [67]:
df['tweet'].apply(lambda x : x.isascii()).all()

True

In [68]:
##################### Creating moc df for faster dvelepment, remove for the main run #####################
df = df[:100]

In [76]:
def remove_newlines_tabs(text):
    formatted_text = text.replace('\\n', ' ').replace('\n', ' ').replace('\t',' ')
    formatted_text = formatted_text.replace('\\', ' ').replace('. com', '.com')
    return formatted_text

def strip_html_tags(text):
    soup = BeautifulSoup(text, "html.parser")
    stripped_text = soup.get_text(separator=" ")
    return stripped_text

def remove_links(text):
    remove_https = re.sub(r'http\S+', '', text)
    remove_com = re.sub(r"\ [A-Za-z]*\.com", " ", remove_https)
    return remove_com

def remove_whitespace(text):
    pattern = re.compile(r'\s+') 
    Without_whitespace = re.sub(pattern, ' ', text)
    text = Without_whitespace.replace('?', ' ? ').replace(')', ') ')
    return text

def accented_characters_removal(text):
    # Remove accented characters from text using unidecode.
    # Unidecode() - It takes unicode data & tries to represent it to ASCII characters. 
    text = unidecode.unidecode(text)
    return text

def lower_casing_text(text):
    return text.lower()

def reducing_incorrect_character_repeatation(text):
    Pattern_alpha = re.compile(r"([A-Za-z])\1{1,}", re.DOTALL)
    
    # Limiting all the  repeatation to two characters.
    Formatted_text = Pattern_alpha.sub(r"\1\1", text) 
    
    # Pattern matching for all the punctuations that can occur
    Pattern_Punct = re.compile(r'([.,/#!$%^&*?;:{}=_`~()+-])\1{1,}')
    
    # Limiting punctuations in previously formatted string to only one.
    Combined_Formatted = Pattern_Punct.sub(r'\1', Formatted_text)
    
    # The below statement is replacing repeatation of spaces that occur more than two times with that of one occurrence.
    Final_Formatted = re.sub(' {2,}',' ', Combined_Formatted)
    return Final_Formatted


def expand_contractions(text, contraction_mapping):
    list_Of_tokens = text.split(' ')
    for Word in list_Of_tokens: 
         if Word in CONTRACTION_MAP: 
            list_Of_tokens = [item.replace(Word, CONTRACTION_MAP[Word]) for item in list_Of_tokens]
                
    String_Of_tokens = ' '.join(str(e) for e in list_Of_tokens) 
    return String_Of_tokens

def removing_special_characters(text):
    Formatted_Text = re.sub(r"[^a-zA-Z0-9:$-,%.?!]+", ' ', text) 
    return Formatted_Text


def preprocessing(tweet):
    
    with open('contraction_map.json') as f:
        contraction_map = json.load(f)
        
    remove_newlines_tabs(text)
    strip_html_tags(text)
    remove_links(text)
    remove_whitespace(text)
    accented_characters_removal(text)
    lower_casing_text(text)
    reducing_incorrect_character_repeatation(text)
    expand_contractions(text, contraction_mapping=contraction_map)