In [103]:
!pip install numpy
!pip install pandas
!pip install openpyxl
!pip install nltk
!pip install sklearn

Requirement already satisfied: numpy in ./venv/lib/python3.9/site-packages (1.23.0)
WARNING: You are using pip version 21.1.2; however, version 22.1.2 is available.
You should consider upgrading via the '/home/danial/PycharmProjects/MIR-HWs3-5/venv/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: pandas in ./venv/lib/python3.9/site-packages (1.4.3)
Requirement already satisfied: numpy>=1.18.5 in ./venv/lib/python3.9/site-packages (from pandas) (1.23.0)
Requirement already satisfied: python-dateutil>=2.8.1 in ./venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: You are using pip version 21.1.2; however, version 22.1.2 is available.
You should consider upgrading via the '/home/danial/PycharmProjects/MIR-HWs3-5/venv/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: openpyxl in ./venv/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in ./venv/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.1.2; however, version 22.1.2 is available.
You should consider upgrading via the '/home/danial/PycharmProjects/MIR-HWs3-5/venv/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: nltk in ./venv/lib/python3.9/site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in ./venv/lib/python3.9/site-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in ./venv/lib/python3.9/site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in ./venv/lib/python3.9/site-packages (from nltk) (4.64.0)
Requirement already satisfied: click in ./venv/lib/python3.9/site-packages (from nltk) (8.1.3)
WARNING: You are using pip version 21.1.2; however, version 22.1.2 is available.
You should consider upgrading via the '/home/danial/PycharmProjects/MIR-HWs3-5/venv/bin/python -m pip install --upgrade pip' command.
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.1.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (30.8 MB)
     |████████████████████████████████| 30.8 MB 159 kB/s eta 0:00:01
Collecting scipy>=1.3.2
  Downloading scipy-1.8.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (42.2 MB)
     |████████████████████████████████| 42.2 MB 150 kB/s eta 0:00:01
Requirement already satisfied: numpy>=1.17.3 in ./venv/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.23.0)
Requirement already satisfied: joblib>=1.0.0 in ./venv/lib/python3.9/site-packages (from scikit-learn->sklearn) (1.1.0)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1309 sha256=ab7756eca0b4a264dd9898d09879c8fc8ae764117a5938d2e8d4f58cddd4691f
  Stored in directory: /home/danial/.cache/pip/wheels/e4/7b/98/b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built sklearn
Installing collected packages: threadpoolctl, scipy, scikit-learn, sklearn
Successfully installed scikit-learn-1.1.1 scipy-1.8.1 sklearn-0.0 threadpoolctl-3.1.0
WARNING: You are using pip version 21.1.2; however, version 22.1.2 is available.
You should consider upgrading via the '/home/danial/PycharmProjects/MIR-HWs3-5/venv/bin/python -m pip install --upgrade pip' command.

In [1]:
import os

import nltk
import pandas as pd

nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Error loading punkt: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1129)>
[nltk_data] Error loading stopwords: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1129)>

False

In [2]:
dfs = []
for file in os.listdir("./Excels"):
    df = pd.read_excel(os.path.join("./Excels", file))
    dfs.append(df)
    print(file, end=": ")
    print(df.shape)
df = pd.concat(dfs)

WWDC.xlsx: (2080, 19)
spaceX.xlsx: (2010, 19)
Google.xlsx: (2051, 19)
Meta.xlsx: (1644, 19)
metaverse.xlsx: (1553, 19)
Apple.xlsx: (2031, 19)
instagram.xlsx: (1949, 19)
Microsoft.xlsx: (2080, 19)
Twitter.xlsx: (1616, 19)
facebook.xlsx: (2027, 19)
Amazon.xlsx: (2078, 19)
nvidia.xlsx: (2010, 19)
Tesla.xlsx: (2004, 19)

In [3]:
df.columns, df.shape

(Index(['Tweet Id', 'Text', 'Name', 'Screen Name', 'UTC', 'Created At',
        'Favorites', 'Retweets', 'Language', 'Client', 'Tweet Type', 'URLs',
        'Hashtags', 'Mentions', 'Media Type', 'Media URLs', 'Unnamed: 16',
        'Unnamed: 17', 'Unnamed: 18'],
       dtype='object'),
 (25133, 19))

In [4]:
df = df[df['Language'] == 'en']
df.reset_index(drop=True, inplace=True)

In [5]:
from nltk.corpus import stopwords
import re
def text_to_words(text):
    text = text.lower()
    text = re.sub(
    "(https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]+\.[^\s]{2,}|www\.[a-zA-Z0-9]+\.[^\s]{2,})",
    "", text)
    text = re.sub("#\w+", "", text)
    text = re.sub("@\w+", "", text)
    words = nltk.word_tokenize(text)
    words = [word for word in words if word not in stopwords.words('english') and word.isalpha()]
    return words
df['Text_words'] = df['Text'].apply(text_to_words)

In [6]:
nltk.FreqDist(df['Text_words'].explode()).most_common(20)

[('rt', 8640),
 ('amp', 1744),
 ('new', 1247),
 ('join', 1132),
 ('video', 1129),
 ('campaign', 924),
 ('microsoft', 837),
 ('us', 834),
 ('latest', 778),
 ('follow', 748),
 ('technology', 747),
 ('environments', 746),
 ('testing', 675),
 ('skills', 668),
 ('apple', 667),
 ('unique', 657),
 ('airdrop', 657),
 ('rtx', 655),
 ('mr', 649),
 ('heroes', 646)]

In [10]:
import pandas as pd
import numpy as np
import re
from sklearn.feature_extraction.text import TfidfVectorizer

vocabulary = list(set(df['Text_words'].explode()) - {np.nan})

tfidf = TfidfVectorizer(vocabulary=vocabulary)
tfidf_tran=tfidf.fit_transform(df['Text_words'].apply(lambda x: ' '.join(x)))


def gen_vector_T(tokens):
    Q = np.zeros((len(vocabulary)))
    x= tfidf.transform(tokens)
    for token in tokens:
        try:
            ind = vocabulary.index(token)
            Q[ind]  = x[0, tfidf.vocabulary_[token]]
        except Exception as e:
            print(e)
            pass
    return Q

def cosine_sim(a, b):
    if sum(a) == 0 or sum(b) == 0:
        return -1
    cos_sim = np.dot(a, b)/(np.linalg.norm(a)*np.linalg.norm(b))
    return cos_sim


def cosine_similarity_T(k, query):
    #print("Cosine Similarity")
    tokens = text_to_words(query)
    print(tokens)
    q_df = pd.DataFrame(columns=['q_clean'])
    q_df.loc[0, 'q_clean'] = tokens
    # q_df['q_clean'] = wordLemmatizer(q_df.q_clean)

    d_cosines = []

    query_vector = gen_vector_T(tokens)
    for d in tfidf_tran.A:
        d_cosines.append(cosine_sim(query_vector, d))

    out = np.array(d_cosines).argsort()[-k:][::-1]
    a = pd.DataFrame()
    for i, index in enumerate(out):
        a.loc[i, 'index'] = str(index)
        a.loc[i, 'text'] = df.iloc[index]['Text']
        a.loc[i, 'words'] = str(df.iloc[index]['Text_words'])
        a.loc[i, 'Score'] = d_cosines[int(index)]
    return a

/home/danial/PycharmProjects/MIR-HWs3-5/venv/lib/python3.9/site-packages/sklearn/feature_extraction/text.py:1330: UserWarning: Upper case characters found in vocabulary while 'lowercase' is True. These entries will not be matched with any documents
  warnings.warn(

In [12]:
cosine_similarity_T(10, "elon musk")

['elon', 'musk']

,index,text,words,Score
0,1817,@SpaceX + @DogelonMars = 🚀\n\n@elonmusk Don't...,['elon'],1.000000
1,1811,RT @ElonMartians : @SpaceX + @DogelonMars = 🚀\...,"['rt', 'elon']",0.949679
2,1813,RT @ElonMartians : @SpaceX + @DogelonMars = 🚀\...,"['rt', 'elon']",0.949679
3,1814,RT @ElonMartians : @SpaceX + @DogelonMars = 🚀\...,"['rt', 'elon']",0.949679
4,15901,@elonmusk @elonamuskjet @ElonMuskNewsOrg @Tesl...,"['elon', 'spacex']",0.668938
5,2813,"RT @Dyoungelonhero : Elon,Send #GalaxyHeroes t...","['rt', 'elon', 'send']",0.615394
6,2583,"RT @Dyoungelonhero : Elon,Send #GalaxyHeroes t...","['rt', 'elon', 'send']",0.615394
7,2158,"RT @Dyoungelonhero : Elon,Send #GalaxyHeroes t...","['rt', 'elon', 'send']",0.615394
8,2131,In Elon We Trust! ❤️🙏🏼 #dogecoin #tesla #Spac...,"['elon', 'trust']",0.530308
9,14730,Could Elon Musk be a thief? Elon Musk why don'...,"['could', 'elon', 'musk', 'thief', 'elon', 'mu...",0.485152

In [36]:
vocabulary = list(set(df['Text_words'].explode()) - {np.nan})
vocabulary_index = {word: idx for idx, word in enumerate(vocabulary)}

mat = np.zeros((len(df), len(vocabulary)), )

for index, row in df.iterrows():
    for token in row['Text_words']:
        mat[index][vocabulary_index[token]] = 1


def boolean_search(query):
    #print("Cosine Similarity")
    tokens = text_to_words(query)
    query_vector = []
    for token in tokens:
        if token in vocabulary_index:
            query_vector.append(vocabulary_index[token])
    out = []
    for index, vec in enumerate(mat):
        flag = True
        for token_index in query_vector:
            if vec[token_index] == 0:
                flag = False
                break
        if flag:
            out.append(index)
    print(out)
    a = pd.DataFrame()
    for i, index in enumerate(out):
        a.loc[i, 'index'] = str(index)
        a.loc[i, 'text'] = df.iloc[index]['Text']
        a.loc[i, 'words'] = str(df.iloc[index]['Text_words'])

    return a

In [37]:
boolean_search("Elon Musk")

[22, 93, 350, 1495, 1517, 1531, 1543, 1547, 1548, 1549, 1550, 1551, 1589, 1652, 1680, 1694, 1780, 1783, 1801, 1809, 1844, 1859, 1866, 1897, 1900, 1954, 1993, 1999, 2029, 2037, 2042, 2066, 2072, 2083, 2084, 2086, 2103, 2107, 2108, 2128, 2132, 2133, 2137, 2146, 2147, 2149, 2151, 2153, 2154, 2161, 2172, 2174, 2175, 2181, 2200, 2203, 2206, 2223, 2239, 2260, 2265, 2273, 2281, 2294, 2337, 2393, 2396, 2421, 2422, 2423, 2429, 2446, 2448, 2449, 2472, 2475, 2610, 2663, 2690, 2693, 2700, 2733, 2763, 2780, 2784, 2812, 2814, 2819, 2821, 2832, 2834, 2835, 2848, 2861, 2867, 2869, 2870, 2880, 2897, 2928, 2949, 2955, 3003, 3107, 6047, 11057, 11698, 14423, 14439, 14459, 14479, 14499, 14502, 14504, 14517, 14518, 14532, 14549, 14554, 14555, 14556, 14557, 14558, 14559, 14620, 14628, 14629, 14636, 14640, 14644, 14722, 14730, 14784, 14796, 14811, 14816, 14832, 14858, 14872, 14908, 14928, 14939, 14980, 14986, 14988, 14997, 15069, 15109, 15110, 15169, 15201, 15203, 15205, 15209, 15232, 15233, 15234, 15241, 15282, 15299, 15302, 15303, 15314, 15334, 15335, 15411, 15503, 15529, 15584, 15585, 15590, 15591, 15596, 15599, 15602, 15648, 15706, 15708, 15715, 15784, 15798, 15801, 15808, 15818, 15819, 15862, 15903, 15907, 15978]

,index,text,words
0,22,Elon Musk give me MONEY bitch And don't forge...,"['elon', 'musk', 'give', 'money', 'bitch', 'fo..."
1,93,"Elon Musk give me $10,000 AND Putin a giant s...","['elon', 'musk', 'give', 'putin', 'giant', 'sp..."
2,350,"Elon Musk give me $99,000 AND Putin elegant a...","['elon', 'musk', 'give', 'putin', 'elegant', '..."
3,1495,what if Gerald Cotten is Elon Musk (:)\n@elonm...,"['gerald', 'cotten', 'elon', 'musk', 'musk']"
4,1517,Elon Musk's SpaceX has cleared a huge obstacle...,"['elon', 'musk', 'spacex', 'cleared', 'huge', ..."
...,...,...,...
184,15819,Elon Musk Sends Companywide Email Praising Tes...,"['elon', 'musk', 'sends', 'companywide', 'emai..."
185,15862,RT @EveryElonReply : Elon Musk liked a tweet f...,"['rt', 'elon', 'musk', 'liked', 'tweet', 'tesl..."
186,15903,RT @EveryElonReply : Elon Musk liked a tweet f...,"['rt', 'elon', 'musk', 'liked', 'tweet', 'eli'..."
187,15907,.\n.\nElon Musk on Life\n...The Universe and E...,"['elon', 'musk', 'life', 'universe', 'everythi..."
188,15978,"RT @kirillklip : Elon Musk And #Lithium: ""Salt...","['rt', 'elon', 'musk', 'salt', 'salad', 'looks..."